/* RegisterPage.css */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 20px;
  margin: 40px auto;
  max-width: 350px;
  background-color: #fff;
}

.signup img {
  width: 175px;
  height: 70px;
  margin-bottom: 20px;
}

.signup form {
  width: 100%;
}

.signup input {
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #262626;
}

.signup input:focus {
  outline: none;
  border-color: #b2b2b2;
}

.signup button {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #0095f6;
  font-weight: bold;
  color: #fff;
  background-color: #0095f6;
  cursor: pointer;
}

.signup button:hover {
  background-color: #0082cc;
}

.signup h2,
.signup p {
  text-align: center;
  color: #262626;
}

.signup p {
  margin-top: 20px;
}
